* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

body {
  /* for testing   */
  background-image: linear-gradient(120deg, #e2c35d, #d88771);
  color: white;
  /* for testing */
  font-family: "Courier New", Courier, monospace;
  min-height: 100vh;
}

header h1 {
  font-size: 2.3rem !important;
}

header,
form {
  display: flex;
  min-height: 20vh;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.4rem;
  font-size: 2rem;
  border: none;
  background-color: white;
}

form button {
  color: #d88771;
  background-color: white;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

form button:hover {
  background-color: #d88771;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.todo {
  background-color: white;
  color: black;
  margin: 0.5rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo li {
  flex: 1;
}

.complete-btn,
.trash-btn {
  background-color: #ff6f47 !important;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  /* overwrite background-color */
  background-color: rgb(73, 204, 73) !important;
}
