* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

body {
  /* for testing   */
  background-image: linear-gradient(120deg, #663f3f, #ec4646, #bbf1fa);
  color: white;
  /* for testing */
  font-family: "Courier New", Courier, monospace;
  min-height: 100vh;
}

header h1 {
  font-size: 2.3rem !important;
}

header,
form {
  display: flex;
  min-height: 20vh;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.4rem;
  font-size: 2rem;
  border: none;
  background-color: white;
}

form button {
  color: #ec4646;
  background-color: white;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

form button:hover {
  background-color: #ec4646;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 37%;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.todo {
  background-color: white;
  color: black;
  margin: 0.5rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

.todo li {
  flex: 1;
}

.complete-btn,
.trash-btn {
  background-color: #f81111 !important;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  /* overwrite background-color */
  background-color: rgb(15, 236, 15) !important;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

/* remove select appearance */
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: none;
  color: #d88771;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
  /* color: black; */
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background-color: #ec4646;
  top: 0;
  right: 0;
  pointer-events: none;
  padding: 1rem;
  transition: all 0.3s ease;
}

.select:hover::after {
  pointer-events: none;
  background-color: white;
  color: #ec4646;
}
